<style>
    .code-preview{
        width:100%;
        border:#eeeeee solid 3px;
    }

    .code-html{
        width:100%;
        border:#eeeeee solid 3px;
    }    

    .code-html textarea{
        width:100%;
        overflow:auto;
    }

    .dynamic-html{
       width:100%;
       border:#eeeeee solid 3px;
       background-color:khaki;
       height:400px;
    }

   .dynamic-css{
       width:100%;
       border:#eeeeee solid 3px;
       background-color:aquamarine;
       height:400px;
    }

</style>

<div class="container"> 
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-8">
                <div class="code-html">
                    <form class="form" name="">
                        <fieldset>
                            <textarea rows="5" class="form-control" name="htmlcode"></textarea>
                        </fieldset>                      
                    </form>
                </div>
                <div class="code-preview">
                    <div class="row">
                        <div class="col-md-4 preview">
                            
                        </div>
                    </div>
                </div>                 
            </div>

           <div class="col-md-4">
                <div class="dynamic-html">
 
                </div>
                <div class="dynamic-css">
 
                </div>                 
            </div>            
        </div>
    </div>
</div>