<style>
       .frame-1{
        height:650px;
        width:100%;
        margin:0;
        padding:0;
        border-bottom:6px solid #d8b763;
        background: #008080;
        background: -moz-linear-gradient(top, #008080 0%, #00CFCF 100%);
        background: -webkit-linear-gradient(top, #008080 0%, #00CFCF 100%);
        background: linear-gradient(to bottom, #008080 0%, #00CFCF 100%);
    }

    .frame-btm {
        width:100%;
        height:650px;
        margin:0;
        padding:0;
        float:left;
        background-color:#fff;
    }

    .content{
        height:600px;
    }

    .radius {
        width:100%;
        position:relative;
        float:left;
    }

    .inframe-2{
        height:700px;
        margin:0;
        padding:15px;
        background-color:#ddd;
        border:1px solid #999;
        border-radius:10px;
        margin-top:50px!important;
        margin-bottom:-200px;
        z-index:2;
    }

    .inframe-2 input[type='text']{
        margin-top:25px;
        border-radius:5px;
        height:50px;
        background-color:#eee;
    }

    .inframe-2 input[type='checkbox']{
        height:25px;
        width:30px;
        background-color:#eee;
    }

    .inframe-2 select{
        margin-top:25px;
        border-radius:5px;
        height:50px;
        background-color:#eee;       
    }

    .inframe-3{
        height:400px;
        margin-top:50px;
        margin:0;
        padding-top:50px;
        padding-left:100px;
        padding-right:100px;

    }

    .inframe-1{
        height:400px;

        margin-top:50px;
        margin:0;
        padding-top:50px;
        padding-left:100px;
        padding-right:100px;
        color:#ffffff;
    }

    .radius-line-1{
        background-color:#00CFCF;
        border-bottom:6px solid #d8b763;
        border-bottom-left-radius:50%;
        border-bottom-right-radius:80%;
        height:50px;
        width:50%;
        position:absolute;
        left:0;
        top:-25px;
        margin-bottom:-100px;   
    }

    .radius-line-2{
        background-color:#ffffff;
        border-top:6px solid #d8b763;
        border-top-right-radius:100%;
        border-top-left-radius:80%;
        height:50px;
        width:50%;
        right:0;
        top:-25px;
        position:absolute;
    }

    .willing{
        overflow:hidden;
        border-top:1px solid #eee;
        border-bottom:1px solid #eee;
        margin-top:30px;
        padding-bottom:10px;
    }

    .willing table{
        width:100%;
        text-align:right;
    }

.waveup {
  position: relative;
  display:inline-block;
  height: 100px;
  width:50%;
  background: rgb(218, 176, 176);
  border-bottom-right-radius: 100% 50%;
  border-bottom-left-radius: 100% 50%;
  margin-left:-20px
}

.waveup:before {
  content: "";
  position: absolute;
  border-radius: 100% 50%;
  width: 100%;
  height: 50px;
  background-color: white;
  right: -5px;
  top: 40px;
}

.wavedown {
  position: relative;
  display:inline-block;
  height: 100px;
  width:50%;
  background: rgb(255, 255, 255);
  border-bottom-right-radius: 100% 50%;
  border-bottom-left-radius: 100% 50%;
  margin-left:-20px
}    
    
</style>


{{conn}}
<div class="frame-1">
    <div class="row content"> 
        <div class="col-lg-12 col-lg-offset-2" style="padding:20px">
            <h3>{{title}}</h3>
 

        </div>        
    </div>
</div>





